@font-face {
  font-family: nuts;
  src: url(./font/GrapeNuts-Regular.ttf);
}

body {
  background-color: rgb(228, 244, 255);
  font-family: 'nuts', sans-serif;
  font-size: 18px;
}
nav {
  background-color: rgb(78, 78, 78);
  color:beige;
  font-size: 20px;
  text-align: center;
  padding: 10px;

}

header {
  text-align: center;
  color: #00014c;
  font-size: 25px;
}

.main-container {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(63, 63, 63);
  justify-content: space-between;
}

.score-section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 40%;
}

#refresh {
  width: 50%;
  margin-left: 30px;
  padding: 8px;
  background-color: rgb(228, 244, 255);
}

tr {
  border: 1px dashed #00014c;
}

.entry-section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 40%;
}

input {
  width: 70%;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#submit {
  width: 50%;
  padding: 8px;
  background-color: rgb(228, 244, 255);
}